@page "/company/companies"
@using BaseApp.Client.Shared
@using BaseApp.Data.Company.Dtos

<PageTitle>Companies</PageTitle>

<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Companies" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </RadzenColumn>
</RadzenRow>

<br />
@if (!IsMarketDataLoaded && !IsLoading)
{
    <RadzenButton Text="Import Market Data" ButtonStyle="ButtonStyle.Primary" Click="@(() => ImportMarketData())" />
}
<br />
<br />

@if (IsLoading)
{
    <RadzenStack AlignItems="AlignItems.Center" class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <RadzenDataGrid @ref="grid" AllowFiltering="true" AllowColumnResize="true"
                    FilterMode="FilterMode.Simple" AllowSorting="false"
                    Data="@fundableCompanies" ColumnWidth="300px"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    LoadData="GetFundableCompaniesAsync">
        <Columns>
            <RadzenDataGridColumn TItem="FundableCompanyDto" Property="Id" Filterable="false" Title="CIK" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="FundableCompanyDto" Property="Name" Title="Name" Filterable="true" FilterOperator="FilterOperator.Contains" Width="300px">
                <HeaderTemplate>
                    <div style="display: flex; align-items: center; gap: 30px;">
                        <span>Name</span>
                        <RadzenButton Text="Clear Filters" ButtonStyle="ButtonStyle.Info" Click="ClearFilters" Size="ButtonSize.Small" />
                    </div>
                </HeaderTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FundableCompanyDto" Property="StandardFundableAmount" Filterable="false" Title="Standard Fundable Amount" FormatString="{0:C4}" Width="160px" />
            <RadzenDataGridColumn TItem="FundableCompanyDto" Property="SpecialFundableAmount" Filterable="false" Title="Special Fundable Amount" FormatString="{0:C4}" Width="160px" />
        </Columns>
    </RadzenDataGrid>
}
