@page "/users/delete/{id}"
@attribute [StreamRendering(true)]

<PageTitle>Delete User</PageTitle>

<h3>Are you sure you want to Delete UserName: @UserName?</h3>

@if (IsDeleted)
{
    <p><em>Deleting...</em></p>
}
else if (HasError)
{
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error</h4>
        <p>Failed to load user profile. Please try again later.</p>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <hr>
            <p class="mb-0">@ErrorMessage</p>
        }
    </div>
}
else
{
    <div class="col-md-4">
        <EditForm Model="@Id" FormName="EditUserProfile" OnValidSubmit="DeleteUser">
            <input type="hidden" />
            <button type="submit" class="btn btn-primary d-block w-100 mb-2" disabled="@IsDeleted">@(IsDeleted ? "Deleting.." : "Delete")</button>
        </EditForm>
        <a class="btn btn-danger d-block w-100 mt-2 mb-2" role="button" href="/users">Cancel</a>
    </div>
}