@page "/"

<PageTitle>BaseApp Home Page</PageTitle>

<h1>This a test project</h1>

<p>
    <h2>Use the left navigation menu or click this <a class="btn btn-primary btn-lg" role="button" href="/users">View Users</a> to view users</h2>
</p>