@inherits LayoutComponentBase

<div class="main-layout">
    <header class="top-bar">
        <RadzenButton Icon="menu" Click="ToggleNavMenu" Class="navbar-toggler" />
        <span class="navbar-brand">BaseApp.Web</span>
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="about-link">About</a>
    </header>

    <div class="layout-content">
        <RadzenSidebar Expanded="@isSidebarExpanded" Style="width: 250px;">
            <NavMenu />
        </RadzenSidebar>

        <RadzenBody>
            <article class="content">
                @Body
            </article>
        </RadzenBody>
    </div>

    <RadzenSidebarToggle Click="ToggleNavMenu" />
</div>

<RadzenComponents />
<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

@code {
    private bool isSidebarExpanded = true;

    private void ToggleNavMenu()
    {
        isSidebarExpanded = !isSidebarExpanded;
    }
}
